<a href="https://colab.research.google.com/github/lilianabs/ml-notebooks/blob/main/First_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook, we go through the process of creating a simple Machine Learning model. We use the Titanic dataset to train a Random forest model to predict the survival of the passengers.

In [1]:
import numpy as np 
import pandas as pd 

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
train_data = pd.read_csv('train.csv')

In [4]:
train_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [6]:
test_data = pd.read_csv('test.csv')

In [7]:
women = train_data.loc[train_data.Sex == "female"]['Survived']
rate_women = sum(women)/len(women)

print("% of women who survived: ", rate_women)

% of women who survived:  0.7420382165605095

In [8]:
men = train_data.loc[train_data.Sex == "male"]['Survived']
rate_men = sum(men)/len(men)

print("% of men who survived: ", rate_men)

% of men who survived:  0.18890814558058924

In [10]:
# Select the target 
y = train_data.Survived

# Select the features from the dataset and transform them
features = ['Pclass', 'Sex', "SibSp", 'Parch']
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [11]:
#Divide the dataset for training
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [12]:
# Create the model and train it
model = RandomForestClassifier(n_estimators=10, max_depth=5, random_state=1)
model.fit(train_X, train_y)

predictions = model.predict(val_X)

In [13]:
# Get the accuracy of the model
accuracy_score(val_y, predictions, normalize=True)

0.7892376681614349